<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722623474102-v31k038ai3gallv891q09d8rv2qjjrvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722623474102-v31k038ai3gallv891q09d8rv2qjjrvq</string>
	<key>API_KEY</key>
	<string>AIzaSyCf3Bnyow-DeDKFtpjGiVDwHmITR2Cy02U</string>
	<key>GCM_SENDER_ID</key>
	<string>722623474102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kiwari-ios-test</string>
	<key>PROJECT_ID</key>
	<string>kiwari-ios-test-ba33b</string>
	<key>STORAGE_BUCKET</key>
	<string>kiwari-ios-test-ba33b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722623474102:ios:73122a1bda37e757127917</string>
	<key>DATABASE_URL</key>
	<string>https://kiwari-ios-test-ba33b.firebaseio.com</string>
</dict>
</plist>